h1 {
  width: 100%;
  text-align: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  width: 310px;
  border: black solid 2px;
}

.numbers {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 180px;
  justify-content: space-between;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.fourth.row {
  display: flex;
  justify-content: center;
}

.operators {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 70px;
  padding: 10px;
  justify-content: space-between;
}

.numberButton, .operators > * {
  background-color: white;
  border: black solid 2px;
  border-radius: 10px;
}


.operatorButton, .resetButton {
  background-color: orangered;
  font-size: 15px;
  color: white;
}

.numberButton {
  padding: 3px;
  width: 60px;
  height: 40px;
  background-color: black;
  color: white;
}

.numberButton:active, .operatorButton:active, .resetButton:active {
  border-color: yellow;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  width: 290px;
  height: 40px;
  background-color: white;
  padding-right: 20px;
  margin-bottom: 5px;
  border: black solid 2px;
}
